#main{
  display: grid;
  grid-template-columns: 16% 84%;
  background-color: rgb(214, 221, 227);
}
#main2{
    margin-top: 110px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    margin-bottom: 30px;
    margin-right: 10px;
}
#span1{
    grid-row:span 2;
}
#first{
    border: 2px solid rgb(243, 239, 239);
    box-shadow: 2px 2px 3px whitesmoke;
    border-radius: 10px;
    grid-row:span 2;
}
#firsttable{
    border:1px solid gray;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
#assurance1{
    background-image: linear-gradient(to right,blue,rgb(210, 16, 181));
    border-radius: 20px;
    padding:10px;
}
#second{
    border: 2px solid rgb(243, 239, 239);
    box-shadow: 2px 2px 3px whitesmoke;
    border-radius: 10px;
    grid-column:span 2;
    text-align: center;
}
#second h3{
    color: blue;
    display: inline;
    border:1px solid rgb(184, 184, 173);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
#third h4{
 border: 1px solid rgb(13, 13, 13);
 padding:10px;
 margin-right: 25px;
}
#third{
    border: 2px solid rgb(243, 239, 239);
    box-shadow: 2px 2px 3px whitesmoke;
    border-radius: 10px;
}
#fourth{
    border: 2px solid rgb(243, 239, 239);
    box-shadow: 2px 3px 3px whitesmoke;
    border-radius: 10px;
}
#fourth1{
    border: 2px dotted rgb(48, 83, 199);
    padding-top:55px;
    padding-bottom: 55px;
    border-radius: 10px;
    text-align: center;
    color: blue;
}
#ass{
    position: absolute;
    right:1090px;
    top:65px;
}
